:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #e2e2e2;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }

  /*nuevos estilos para login */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
  }

  .encabezado{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    
    font-size: 20px;
  }
  
  .form-login {
    width: 400px;
    height: auto;
    background: #35aac7;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #92ab01;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  .btn {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }

  .buttons2 {
    width: 100%;
    height: 40px;
    background: #0189ab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }

  .buttons:hover {
    width: 100%;
    height: 40px;
    background: #b7c2c7;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }



  .textoderecho{
      text-align: end;
  }